.DS_Store
*pptx
localstack/
powershell/settings.txt
powershell/aws-lambda-powershell-runtime/
powershell/command.txt
powershell/*/output.json
powershell/*/old/
powershell/M365Common/samconfig.toml
powershell/M365GetGroup/samconfig.toml
powershell/M365Getuser/samconfig.toml
powershell/module_work/
powershell/parminit.sh
powershell/samconfig.toml
powershell/template.yml
python/*/output.json
python/*/__pycache__/
python/*/.pytest_cache/
python/*/old
python/layers_work/
python/layers_work_makefile/
python/M365Common/samconfig.toml
python/M365ConvGroup/samconfig.toml
python/M365ConvUser/samconfig.toml
python/M365ConvUser/command.txt
python/S3TOPG/awsvpcendpoint*
python/S3TOPG/command.txt
python/S3TOPG/samconfig.toml
python/S3TOPG/tmp/
python/settings.txt
