.DS_Store
*pptx
localstack/
stepfunctions/
*output.json
powershell/ECS-Build-Work_M365GetUserContainer/
powershell/**/old
powershell/**/work
powershell/**/*output.json
powershell/settings.txt
powershell/aws-lambda-powershell-runtime/
powershell/command.txt
powershell/**/output.json
powershell/**/samconfig.toml
powershell/M365GetUser-Docker/.aws-sam/
powershell/module_work/
**/parminit.sh
powershell/samconfig.toml
powershell/template.yml
python/**/output.json
python/**/__pycache__/
python/**/.pytest_cache/
python/**/old
python/layers_work/
python/layers_work_makefile/
python/M365Common/samconfig.toml
python/M365ConvGroup/samconfig.toml
python/M365ConvUser/samconfig.toml
python/M365ConvUser/command.txt
python/S3TOPG/awsvpcendpoint*
python/S3TOPG/command.txt
python/S3TOPG/samconfig.toml
python/S3TOPG/tmp/
python/settings.txt
python/command.txt
python/**/*output.json
python/CatalogUpdateContainer/work/
python/**/.python-version
python/.datalake-env/
python/DataQuality/.pytest_cache/
python/DataQuality/__pycache__/
python/DataQuality/work/
python/DataQuality/old
python/ECS-Build-Work_CatalogUpdateContainer
