version = 0.1

[default.deploy.parameters]
stack_name = "sam-pyappfunc-m365cols3import-test"
resolve_s3 = true
s3_prefix = "sam-pyappfunc-m365cols3import-test"
region = "ap-northeast-1"
profile =
capabilities = "CAPABILITY_IAM"
image_repositories = []
LambdaRole = ""