version = 0.1

[default.deploy.parameters]
# vpc
stack_name = "sam-pyfunc-vpc-updatetype"
s3_prefix = "tmp/sam-pyfunc-vpc-updatetype"
parameter_overrides = "isVPC=true VpcSubnetIds=subnet-xxxxxxxxxxx VpcSecurityGroupIds=sg-xxxxxxxxxxx LambdaRole=arn:aws:iam::xxxxxxxxxxx:role/sim-lambda-role LayerVersion=10 FunctionName=UpdateTypeVpc"

s3_bucket = ""
region = "ap-northeast-1"
profile = ""
capabilities = "CAPABILITY_IAM"
image_repositories = []
